@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

* {
    font-family: 'Quicksand', 'Times New Roman', serif;
}

a:hover {
    text-shadow: 2px 2px 2px grey;
}

.active {
    text-shadow: 2px 2px 2px lightgrey;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Home Styles */

#logo-div {
    background-color: white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 20px lightgrey;
}

#logo {
    line-height: 380px;
    font-family: 'Dancing Script', cursive !important;
    text-shadow: 4px 4px 4px grey;
    font-size: 250%;
    text-align: center;
}

#tagline {
    text-align: center;
    text-shadow: 4px 4px 4px grey;
    position: relative;
    top: -160px;
}

/* Other */

nav, #footer, main, #logo-parent {
    animation: fadeIn 1s ease-in;
}

#menu svg {
    color: lightgrey;
}

#menu svg:hover {
    color: white;
}

#project-header:hover {
    position: relative;
    top: -20px;
    cursor: pointer;
}

#header-style {
    font-family: 'Dancing Script', cursive !important;
    text-shadow: 4px 4px 4px grey;
    font-size: 250%;
    color: white;
    margin: 20px;
    text-align: center;
}

#skill {
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 10px lightgrey;
}

#skill-text {
    color: black;
    line-height: 100px;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
    #about-section {
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 600px) {
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 600px;
    }
}

@media screen and (max-width: 800px) {
    #title, #nav-icons {
        display: none;
    }
    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    #logo-div {
        margin: 80px 10px 10px 10px;
    }
    #project-card {
        width: 100%;
    }
}