@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

* {
    font-family: 'Quicksand', 'Times New Roman', serif;
}

a:hover {
    text-shadow: 2px 2px 2px grey;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Front Page Styles */

#logo-div {
    background-color: white;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

#logo {
    line-height: 380px;
    font-family: 'Dancing Script', cursive !important;
    text-shadow: 4px 4px 4px grey;
    font-size: 250%;
    text-align: center;
}

#tagline {
    text-align: center;
    text-shadow: 4px 4px 4px grey;
    position: relative;
    top: -160px;
}

/* Other Styles */

nav, #footer, #body-style, #logo-div {
    animation: fadeIn 1s ease-in;
}

#project-card:hover {
    position: relative;
    top: -20px;
    cursor: pointer;
}

#header-style {
    font-family: 'Dancing Script', cursive !important;
    text-shadow: 4px 4px 4px grey;
    font-size: 250%;
    color: white;
    margin: 20px;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    #about-section {
        flex-direction: column;
        flex-wrap: wrap;
    }
}